* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --h-font: 'Montserrat', sans-serif;
    --c-font: 'Open Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
    font-family: var(--c-font);
    background-color: #000;
    color: #fff;

}

.h-font {
    font-family: var(--h-font);
}

.c-font {
    font-family: var(--c-font);
}

#first,
#faq {
    min-height: 100vh;
    width: 100%;
}

.particlehead {
    background: transparent;
}


#first h1 span {
    font-size: 120px;
}

#navigation a {
    color: #6441A5;
}

.navbar,#footer {
    background: rgba( 100, 65, 165, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 20px;
}

#navigation a:hover{
    
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
    
    transition: 0.5s;
    color: white;
    border-radius: 10px;

}
.btn {
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%);
    margin: 10px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 





#first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform-style: inherit;


}



section {
    transform-style: inherit;

}

#first h1 {
    -webkit-text-stroke: 1px black;
    color: #fff;
    font-size: 80px;
    text-shadow:
        3px 3px 0 #2a0845,
        -1px -1px 0 #2a0845,
        1px -1px 0 #2a0845,
        -1px 1px 0 #2a0845,
        1px 1px 0 #2a0845;
}





.in-responsibility {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;


}

.in-responsibility .row2 {
    margin-top: 100px;

}

.in-responsibility .row3 {


    margin-top: 200px;
}

.in-responsibility .row4 {

    margin-top: 300px;
}

h3 {
    background: rgba( 100, 65, 165, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}

.in-responsibility h5 {

    background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
    padding: 10px;
    border-radius: 10px;

}

.card {
    background: rgba( 100, 65, 165, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.in-benefits {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

}

#benefits .fa-solid {
    color: #6441A5;
    font-size: 40px;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2a0845;
}

.card {
    overflow: hidden
}



#faq .card:hover .overlay {
    bottom: 0;
    height: 100%;
    padding: 10px;
}

.overlay p {
    margin: 0 auto;
}


input,select,option{
    background: rgba( 100, 65, 165, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
color:#6441A5 !important;
}
#footer a{
    text-decoration:none;
    font-size:24px;
    color:#fff;
}
#footer{
    background-color: transparent;
    padding-top:20px;
}
@media only screen and (max-width:500px){


    #first h1{
        font-size:50px;
    }
    #first h1 span{
        font-size:80px;
    }
    .in-responsibility {
        display: flex;
        flex-direction:column;

    
    
    }
    .in-responsibility .row2,.in-responsibility .row3,.in-responsibility .row4{
        margin-top:10px;
    }

    .in-benefits {
        display: grid;
        grid-auto-flow: row;
        gap: 15px;
    
    }

    #faq .card{
        height:120px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #faq .card-body{
        width:100%;
    }

    #faq .card-title{
      
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:10px;
     
    }
    #faq .overlay{
        display:flex;
        justify-content: center;
        align-items:center;
    }
}
      